<head>
    <title>{{ site.title }}</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Twitter -->
    <meta name="twitter:site" content="@{{ site.twitter_username }}">
    <meta name="twitter:creator" content="@{{ site.twitter_username }}">


    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="twitter:image" content="//static.ngengs.com/assets/v1.0.0/images/icon/dark/icon512.png">


    <!-- Facebook -->

    <meta property="og:url" content="{{ site.baseurl | absolute_url }}">
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:description" content="{{ site.description }}">

    <meta property="og:image" content="//static.ngengs.com/assets/v1.0.0/images/icon/dark/icon512.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="512">
    <meta property="og:image:height" content="512">

    <!-- Meta -->
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.full_name }}">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    	  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href='{{ "css/main.css" | absolute_url }}'>
    <link rel="stylesheet" href='//static.ngengs.com/assets/v1.0.0/css/font-logo.min.css'>
    <link rel="stylesheet" href='https://cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css'>

    <!-- Favicon -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="//static.ngengs.com/assets/v1.0.0/images/icon/dark/icon144.png">
    <link rel="apple-touch-icon" sizes="57x57" href="//static.ngengs.com/assets/v1.0.0/images/icon/dark/icon57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="//static.ngengs.com/assets/v1.0.0/images/icon/dark/icon60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="//static.ngengs.com/assets/v1.0.0/images/icon/dark/icon72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="//static.ngengs.com/assets/v1.0.0/images/icon/dark/icon76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="//static.ngengs.com/assets/v1.0.0/images/icon/dark/icon114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="//static.ngengs.com/assets/v1.0.0/images/icon/dark/icon120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="//static.ngengs.com/assets/v1.0.0/images/icon/dark/icon144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="//static.ngengs.com/assets/v1.0.0/images/icon/dark/icon152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="//static.ngengs.com/assets/v1.0.0/images/icon/dark/icon180.png">
    <link rel="icon" type="image/png" href="//static.ngengs.com/assets/v1.0.0/images/icon/dark/icon32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="//static.ngengs.com/assets/v1.0.0/images/icon/dark/icon192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="//static.ngengs.com/assets/v1.0.0/images/icon/dark/icon96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="//static.ngengs.com/assets/v1.0.0/images/icon/dark/icon16.png" sizes="16x16">
    <link rel="shortcut icon" href="https://static.ngengs.com/assets/v1.0.0/images/favicon.ico">


    <meta name="theme-color" content="#0ff">

</head>
