// Main
$color-primary: #0ff;

// Navbar
$navbar-logo-size: 1.25rem;

// Big Panel
$big-panel-background-color: #000;
$big-panel-logo-size: 5rem;

// Main Content
$wrapper-background: #f2f2f2;

// Cards
$cards-background: #fff;
$cards-header-background: #e8e8e8;
$cards-header-height: 8rem;
$cards-header-padding-vertical: 1.5rem;
$cards-header-text-size: 1.2rem;
$cards-header-image-size: 5rem;
$cards-header-image-padding-size: .3rem;
$cards-body-category-box-size: 2rem;
$cards-body-category-text-size: 1rem;

// Footer
$footer-background: #474747;
$footer-text-color: #ccc;
$footer-logo-size: 3rem;
$footer-socmed-size: 1.5rem;